{% extends "event/event_structure.html" %}
{% block event_creat %}
<div>
        {% if messages %}
          {% for message in messages %}
            <div class="px-2 py-1 w-1/2 mx-auto mt-8 {% if message.tags == 'success' %}bg-green-500{% endif%}">{{message}}</div>
          {% endfor %}
        {% endif %}
</div>
<form method="POST">
    <div class="w-1/2 mx-auto mt-8">
          
        {% csrf_token %}
        {{event_form}} 

        <br>
       <br>

        <button type="submit" class=" mb-40 bg-gray-600 px-3 text-white mt-2 rounded">submit</button>
    </div>
</form>
{% endblock event_creat %}